$mainColor: rgb(93, 187, 194);
$mainColor2: rgb(45, 106, 110);
$subColor: rgba(15, 165, 235, 0.116);
$borderColor: #efefef;
$borderColor2: #cecaca;
$fontColor1: #66686c;

$borderRadius1: 5px;

@mixin addBtn {
  background-color: $mainColor;
  color: white;
  border-radius: 20px;
  font-weight: 500;
}
