@import "./variables";
.container {
  width: 100%;
  height: 170px;
  border: 1px solid $borderColor2;
  border-radius: 5px;
  white-space: nowrap;
  margin-top: 15px;
  overflow-x: scroll;
  display: flex;
  align-items: center;

  a {
    text-decoration: none;
    height: 100%;
    color: black;
  }

  .noFriend {
    margin: auto;
    text-align: center;
  }
  .listItemWrap {
    height: 100%;
    width: 120px;
    margin-right: 10px;
    .listItem {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .profileImg {
        border: 1px solid $borderColor2;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $borderColor2;
        margin: 10px 0 20px;
      }
    }
  }
}
