@import "./variables";

.container {
  margin: 20px 0;

  a {
    text-decoration: none;
    color: black;
    font-weight: 600;
  }
  .moreMenuIcon {
    color: $mainColor2;
  }
  .moreMenuContainer {
    display: flex;
    align-items: center;
  }
  .commentIcon {
    color: $mainColor;
  }
  .repearIcon {
    color: $mainColor;
  }
}
