@import "./variables";
.cardLayout {
  border: $borderRadius1;

  button {
    padding: 0;
  }
  a {
    text-decoration: none;
  }

  .typographyBox {
    width: 55px;
    text-align: center;
    margin: auto;
    a {
      color: black;
    }
  }
}
