# Created by https://www.toptal.com/developers/gitignore/api/nextjs,react
# Edit at https://www.toptal.com/developers/gitignore?templates=nextjs,react

### NextJS ###
# Next build dir


### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

*.pem
# End of https://www.toptal.com/developers/gitignore/api/nextjs,react