*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

/* .test-form{
    border: 0.1rem solid #DDDDDD;
    border-radius: 0.625rem;
    margin-bottom: 1.5rem;
    padding: 0.3rem;
    background-color: #fff;
    box-shadow: 0 0 0.625rem #9e9e9e;
} */