@charset "UTF-8";
/* 반응형 */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrap {
  width: 100%;
  margin: auto;
}

.wrap header {
  padding: 7rem 0;
  background: #8d91eb;
  color: #fff;
  text-align: center;
}

.wrap header h1 {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 1.5rem;
}

@media (max-width: 768px) {
  .wrap header h1 {
    font-size: 2.6rem;
  }
}

.wrap .test-part-info {
  padding: 4rem 0;
  max-width: 62.5rem;
  margin: auto;
  text-align: center;
}

.wrap .test-part-info .detail h2 {
  font-weight: 800;
  margin-bottom: 3rem;
}

.wrap .test-part-info .detail .test-part-explain {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .wrap .test-part-info .detail .test-part-explain {
    display: block;
  }
}

.wrap .test-part-info .detail .test-part-explain div {
  width: 18rem;
  height: 15rem;
  padding: 1.5rem;
  margin: auto;
  background: #d9daf8;
  border-radius: 1.875rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  .wrap .test-part-info .detail .test-part-explain div {
    width: 16.5rem;
  }
}

.wrap .test-part-info .detail .test-part-explain div p {
  margin-top: 1rem;
  font-size: 1.3rem;
  color: #576071;
}

.wrap .test-part-info .detail .test-part-explain div:nth-child(2n) {
  margin: 0 2rem;
}

@media (max-width: 768px) {
  .wrap .test-part-info .detail .test-part-explain div:nth-child(2n) {
    margin: 3rem auto;
  }
}

.wrap .test-form {
  padding-top: 4rem;
  padding-bottom: 4rem;
  max-width: 62.5rem;
  margin: auto;
  text-align: center;
}

.wrap .test-form :global .form-label h2 {
  margin-bottom: 2rem;
}

.wrap .test-form :global .form-control {
  width: 10rem;
}

.wrap .test-form :global .form-control::-webkit-input-placeholder {
  text-align: center;
}

.wrap .test-form :global .form-control:-ms-input-placeholder {
  text-align: center;
}

.wrap .test-form :global .form-control::-ms-input-placeholder {
  text-align: center;
}

.wrap .test-form :global .form-control::placeholder {
  text-align: center;
}

.wrap .test-form .code-num {
  margin: auto;
}

.wrap .test-form :global .form-text {
  margin: 2rem auto;
}

.wrap .test-form .info-group {
  max-width: 20rem;
  margin: 0 auto 1.3rem auto;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrap .test-form .info-group .info-writing {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 8rem;
}

.wrap .test-form .info-group .info-input {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 0;
}

.wrap .test-form :global .btn-group {
  padding: 0;
}

.wrap .test-form :global .form-select {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 10rem;
}

.wrap .test-form p {
  margin-bottom: 0;
}

.wrap .test-form p svg {
  color: #fff;
  margin-left: 0.5rem;
  margin-bottom: 0.25rem;
}

.wrap .code-form {
  max-width: 62.5rem;
  margin: auto;
}

.wrap .code-form div {
  margin: 0;
}

.wrap .code-form :global button {
  color: #fff;
  border: none !important;
  font-weight: 600;
  font-size: 1.1rem;
  background: #8d91eb;
  border-radius: 1.875rem;
  padding: 0.7rem 2rem;
  text-align: center;
  vertical-align: middle;
}

.wrap .code-form :global button:hover {
  background: cornflowerblue;
}

.wrap .code-form :global button:hover :local p :local svg {
  animation: leftRight 0.5s linear 2 alternate-reverse;
}

.wrap .code-form .btn-check:active + .btn-outline-primary,
.wrap .code-form .btn-check:checked + .btn-outline-primary,
.wrap .code-form .btn-outline-primary.active,
.wrap .code-form .btn-outline-primary.dropdown-toggle.show,
.wrap .code-form .btn-outline-primary:active {
  color: #fff;
  background-color: #5c6bc0;
  border-color: #5c6bc0;
}

.wrap .code-form .btn-outline-primary {
  background-color: #fff;
  color: gray;
  border-color: #5c6bc0;
  font-weight: 600;
}

@-webkit-keyframes leftRight {
  from {
    -webkit-transform: translateX(0.5rem);
            transform: translateX(0.5rem);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes leftRight {
  from {
    -webkit-transform: translateX(0.5rem);
            transform: translateX(0.5rem);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}
/*# sourceMappingURL=LotteMain.module.css.map */