@import './mixin/mixin';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.part {
  padding: 1rem 0 6rem 0;
  position: relative;
  .percentage {
    @include percentage(0rem);
  }
}

.tit {
  padding: 3rem 0 5rem 0;
  text-align: center;
  margin: auto;
  font-weight: 600;
  line-height: 2.5rem;
}

.tooltip-button-style {
  color: gray;
  &:hover {
    color: red;
  }
}

:global #popover-positioned-bottom {
  max-width: 31.25rem;
  min-width: 18.75rem;
  width: 31rem;

  @include mobile {
    width: 10rem;
  }
}

:global #popover-type-style {
  max-width: 50rem;
  min-width: 18.75rem;
  width: 50rem;
  .popover-body {
    div {
      div {
        display: flex;
        margin-top: 0.3rem;
        div {
          padding: 0.3rem;
        }
        div:nth-child(1) {
          img {
            width: 5rem;
            height: 5rem;
            margin-top: 1.5rem;
          }
        }
        div:nth-child(2) {
          border-bottom: 2px solid gray;
          border-right: 2px solid gray;
          line-height: 1.5rem;
          p {
            width: 20rem;
            span {
              font-weight: 800;
              font-size: 1rem;
              line-height: 2.5rem;
            }
          }
        }
        div:nth-child(3) {
          border-bottom: 2px solid gray;
          line-height: 1.5rem;
          p {
            span {
              font-weight: 800;
              font-size: 1rem;
              line-height: 2.5rem;
            }
          }
        }
      }
    }
  }
}

.wrap {
  width: 100%;
  margin: auto;
  padding: 1rem 1rem 3rem 1rem;
  header {
    padding: 4rem 0;
    text-align: center;
    margin: auto;
    @include mobile {
      padding: 3rem 0;
    }

    .result {
      font-weight: 800;
      padding: 3rem 0;
      @include mobile {
        font-size: 1.5rem;
        padding: 3rem 0rem;
      }
    }
    .note {
      max-width: 37.5rem;
      margin: auto;
      padding: 0.625rem;
      border: 0.3125rem solid $subcolor;

      @include mobile {
        word-break: keep-all;
      }

      .title {
        font-weight: 600;
        font-size: 1.2rem;
      }
    }
  }

  section {
    article {
      // 진로유형
      .client-type {
        text-align: center;
        padding: 3.125rem 0;

        @include mobile {
          word-break: keep-all;
          padding: 3.125rem 0;
        }
        h3 {
          padding: 0 0 1rem 0;
          .bolder {
            font-weight: 700;
          }
        }
        img {
          margin-right: 1rem;
        }
      }
      .result {
        max-width: 62.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        position: relative;

        .percentage {
          @include percentage(-3rem);
        }

        .graph {
          width: calc(62.5rem / 2);
          height: calc(62.5rem / 2);
          position: relative;
          @include mobile {
            width: calc(62.5rem / 4);
            height: calc(62.5rem / 4);
          }
          text {
            @include mobile {
              font-size: 0.8rem;
            }
          }
          button {
            position: absolute;
            right: 5rem;
            top: 4rem;
            z-index: 9;
            @include mobile {
              right: 2rem;
              top: 1rem;
            }
          }
        }
        .graph-description {
          width: calc(62.5rem / 2);
          position: relative;
          .type-description {
            padding: 0.625rem 0;
          }

          .type {
            border-bottom: 0.0625rem solid;
            font-weight: 600;

            span {
              font-size: 0.8rem;
              color: black;
              font-weight: 500;
            }
          }
          .description {
            margin-top: 0.3125rem;
          }
        }
      }

      // 세부유형별 점수
      .type-analysis {
        max-width: 62.5rem;
        margin: auto;

        .detail-type {
          text-align: center;

          .tab-button-style {
            color: gray;
            cursor: pointer;
            &:hover {
              color: red;
            }
          }
          .tab-style {
            display: none;
          }

          .detail-tabs {
            margin: 1rem 0;
            :global .nav-link {
              color: black;
              background: rgba(255, 255, 255, 0.308);
              width: 3rem;
              margin-right: 0.4rem;
              border-top-left-radius: 12px;
              border-top-right-radius: 12px;
              @include mobile {
                width: 2.3rem;
                margin-right: 0.1rem;
                padding: 0.5rem;
              }
            }

            :global .nav-item:nth-child(1) .nav-link.active {
              color: white;
              background: #f9b361;
              // border: ;
            }
            :global .nav-item:nth-child(2) .nav-link.active {
              color: white;
              background: #b167b0;
            }
            :global .nav-item:nth-child(3) .nav-link.active {
              color: white;
              background: #666490;
            }
            :global .nav-item:nth-child(4) .nav-link.active {
              color: white;
              background: #6874b1;
            }
            :global .nav-item:nth-child(5) .nav-link.active {
              color: white;
              background: #589dd0;
            }
            :global .nav-item:nth-child(6) .nav-link.active {
              color: white;
              background: #75cb80;
            }
          }

          :global .tab-content {
            border: 5px solid white;
            margin-bottom: 2rem;
            padding: 1rem;
            div {
              margin: auto;
              max-width: 22rem;

              p {
                line-height: 2rem;
                span {
                  font-weight: 700;
                  line-height: 2rem;
                  word-break: keep-all;
                }
              }
            }
          }

          .tooltip {
            @include mobile {
              display: none;
            }
          }
          .button-tab {
            @include desktop {
              display: none;
            }
            border: 0;
            outline: 0;
            background: none;
          }
          .tit {
            padding: 3rem 0 1rem 0;
          }

          .type {
            max-width: 62.5rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .type-box {
              width: calc(62.5rem / 3.3);
              height: 15.375rem;
              margin: 2rem 0.3rem 0 0.3rem;
              border: 0.125rem solid $grayline;
              border-radius: 1.25rem;
              padding: 1rem;
              @include mobile {
                width: 16.25rem;
              }
            }
            .type-box:nth-child(2) {
              border-color: $R;
            }
            .type-box:nth-child(3) {
              border-color: $I;
            }
            .type-box:nth-child(4) {
              border-color: $A;
            }
            .type-box:nth-child(5) {
              border-color: $S;
            }
            .type-box:nth-child(6) {
              border-color: $E;
            }
            .type-box:nth-child(7) {
              border-color: $C;
            }
          }
        }
      }

      // 진로발달 프로파일

      .job-profile-wrap {
        max-width: 62.5rem;
        margin: auto;
        word-break: keep-all;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 1rem 0 0 0;

        .understanding {
          @include job-profile($self-understanding);
        }

        .exploration {
          @include job-profile($job-exploring);
        }

        .job-planning {
          @include job-profile($job-planning);
        }

        .all-score {
          @include job-profile($all-score);
        }
      }

      // 세부영역별 결과 해석 및 진로지도 전략
      .detail-result-desktop {
        display: block;

        @include mobile {
          display: none;
        }

        :global .slick-next {
          width: 3rem;
          height: 3rem;
          right: -0.48rem;
          z-index: 999;

          &:hover {
            color: green;
          }
        }

        :global .slick-prev {
          width: 3rem;
          height: 3rem;
          left: -0.625rem;
          z-index: 999;
        }

        :global .slick-next:before {
          font-size: 2.1875rem;
          color: $maincolor;
        }

        :global .slick-prev:before {
          font-size: 2.1875rem;
          color: $maincolor;
        }

        :global .slick-dots li button:before {
          color: $maincolor;
        }

        :global .slick-dots li.slick-active button:before {
          font-size: 1rem;
        }

        .understanding {
          @include detail-result-desktop('understanding', $self-understanding);
        }
        .exploration {
          @include detail-result-desktop('exploration', $job-exploring);
        }
        .job-planning {
          @include detail-result-desktop('job-planning', $job-planning);
        }
      }

      .detail-result-mobile {
        margin-bottom: 5rem;
        display: block;
        @include desktop {
          display: none;
        }

        :global .slick-next {
          width: 3rem;
          height: 3rem;
          right: -0.3rem;
          top: 19rem;
          z-index: 999;
        }

        :global .slick-prev {
          width: 3rem;
          height: 3rem;
          left: -0.625rem;
          z-index: 999;
        }

        :global .slick-next:before {
          font-size: 2.1875rem;
          color: $maincolor2;
        }

        :global .slick-prev:before {
          font-size: 2.1875rem;
          color: $maincolor2;
        }

        :global .slick-dots li button:before {
          color: $maincolor;
        }

        :global .slick-dots li.slick-active button:before {
          font-size: 1rem;
        }

        .understanding {
          @include detail-result-mobile($self-understanding);
        }
        .exploration {
          @include detail-result-mobile($job-exploring);
          margin-top: 9rem;
        }
        .job-planning {
          @include detail-result-mobile($job-planning);
          margin-top: 9rem;
        }
      }

      // .character-recommend {
      //   max-width: 62.5rem;
      //   .job-character {
      //     display: flex;
      //     padding: 2rem;
      //     .left-box {
      //       min-width: 13rem;
      //       height: 13rem;
      //       border: 10px solid $maincolor2;
      //       border-radius: 10px;
      //       box-shadow: 0.6rem 0.8rem 0.5rem $box-shadow;
      //       position: relative;
      //       margin-left: 2rem;
      //       img {
      //         min-width: 10rem;
      //         height: 10rem;
      //         position: absolute;
      //         top: 50%;
      //         left: 50%;
      //         opacity: 0.4;
      //         transform: translate(-50%, -50%);
      //       }
      //       h3 {
      //         position: absolute;
      //         word-break: keep-all;
      //         line-height: 2.5rem;
      //         top: 50%;
      //         left: 50%;
      //         transform: translate(-50%, -50%);
      //         padding: 0;
      //         font-weight: 700;
      //       }
      //     }
      //     .right-box {
      //       max-width: calc(62.5rem - 13rem);
      //       height: 13rem;
      //       padding: 0.7rem 1rem 0.7rem 1.5rem;
      //       line-height: 1.6rem;
      //       border-top: 4px solid;
      //       border-right: 4px solid;
      //       border-bottom: 4px solid;
      //       border-radius: 10px;
      //       margin-right: 2rem;
      //     }
      //   }

      //   .job-recommend {
      //     display: flex;
      //     padding: 2rem;
      //     .left-box {
      //       min-width: 13rem;
      //       height: 13rem;
      //       border: 10px solid #8d91eb23;
      //       border-radius: 10px;
      //       box-shadow: 0.6rem 0.8rem 0.5rem $box-shadow;
      //       position: relative;
      //       img {
      //         min-width: 10rem;
      //         height: 10rem;
      //         position: absolute;
      //         top: 50%;
      //         left: 50%;
      //         opacity: 0.4;
      //         transform: translate(-50%, -50%);
      //       }
      //       h3 {
      //         position: absolute;
      //         word-break: keep-all;
      //         line-height: 2.5rem;
      //         top: 50%;
      //         left: 50%;
      //         transform: translate(-50%, -50%);
      //         padding: 0;
      //         font-weight: 700;
      //       }
      //     }
      //     .right-box {
      //       max-width: calc(62.5rem - 13rem);
      //       height: 13rem;
      //       padding: 0.7rem 1rem 0.7rem 1.5rem;
      //       line-height: 1.6rem;
      //       border-top: 4px solid #8d91eb23;
      //       border-right: 4px solid #8d91eb23;
      //       border-bottom: 4px solid #8d91eb23;
      //       border-radius: 10px;
      //     }
      //   }
      // }

      .character-recommend {
        max-width: 62.5rem;
        .job-character {
          font-size: 1.1rem;
          font-weight: 500;
          line-height: 2rem;
          margin-bottom: 4rem;
        }
        .job-recommend {
          font-size: 1.1rem;
          font-weight: 500;
          line-height: 2rem;
        }
      }
    }
  }
}
