@charset "UTF-8";
/* 반응형 */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrap .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.9rem;
  padding-left: 1rem;
  background-color: #fff;
  overflow: hidden;
  color: black;
}

.wrap .top .logo p {
  margin: 0;
  font-size: 1.2rem;
}

.wrap .top .current-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 26rem;
  height: 100%;
  margin-left: 3rem;
  color: black;
}

@media (max-width: 768px) {
  .wrap .top .current-part {
    display: none;
  }
}

.wrap .top .current-part p {
  border: 1px solid #e0e0e0;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  padding: 0.4rem 1.3rem;
  margin: 1.3rem 0 0 0;
  font-size: 1.2rem;
  background-color: #d9daf8;
  color: gray;
}

.wrap .top .current-part .selected {
  background-color: #8d91eb;
  color: #fff;
}

.wrap section header {
  padding: 7rem 2rem;
  text-align: center;
  background: #8d91eb;
  border-color: #8d91eb;
  color: white;
}

@media (max-width: 768px) {
  .wrap section header {
    padding: 3rem 2rem;
  }
}

.wrap section header h2 {
  font-size: 3rem;
  padding-bottom: 1.5rem;
}

@media (max-width: 768px) {
  .wrap section header h2 {
    font-size: 2.5rem;
  }
}

.wrap section header h3 {
  line-height: 2.3rem;
}

@media (max-width: 768px) {
  .wrap section header h3 {
    font-size: 1.5rem;
  }
}

.wrap section article {
  max-width: 43.75rem;
  margin: auto;
}

.wrap section article form div:first-child {
  margin: 0;
}

.wrap section article form .form-btn-group {
  margin: 0;
  padding: 2rem 1rem;
}

.wrap section article :global .progress-bar {
  background-color: #5c6bc0;
}

.wrap section article :global .test-form {
  padding: 2rem 0;
  border-bottom: 1px solid #e0e0e0;
}

@media (max-width: 768px) {
  .wrap section article :global .test-form {
    padding: 2rem 2rem;
  }
}

.wrap section article :global .test-form p {
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 2rem;
}

@media (max-width: 768px) {
  .wrap section article :global .test-form p {
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .wrap section article :global .test-form .btn-group {
    width: 100%;
  }
}

.wrap section article :global .test-form .btn-check:active + .btn-primary,
.wrap section article :global .test-form .btn-check:checked + .btn-primary,
.wrap section article :global .test-form .btn-primary.active,
.wrap section article :global .test-form .btn-primary:active,
.wrap section article :global .test-form .show > .btn-primary.dropdown-toggle {
  background-color: #5c6bc0 !important;
  color: white;
  font-weight: 600;
}

.wrap section article :global .test-form .btn-primary {
  background-color: #fff;
  color: gray;
  border-color: #5c6bc0;
  font-weight: 600;
}

.wrap section article :global .test-form .btn-primary:hover {
  color: #fff;
  background-color: #5c6bc0;
}

.wrap section article :global .test-form .btn-primary:nth-child(2n) {
  margin: 0 1rem;
}

@media (max-width: 768px) {
  .wrap section article :global .test-form .btn-primary:nth-child(2n) {
    margin: 0 0.3rem;
  }
}

.wrap section article :global button {
  border-color: #8d91eb;
  background-color: #8d91eb;
}

.wrap section article :global button:hover {
  background: cornflowerblue;
}
/*# sourceMappingURL=LotteStart.module.css.map */